.gpt3__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6vw;
}

.gpt3__navbar-links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gpt3__navbar-links_logo{
    margin-right: 2rem;
    
    img{
        height: 1.6rem;
        aspect-ratio: 3/1;
    }
}


.gpt3__navbar-links_container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: #fa342f !important;

    li{
        width: fit-content;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            display: flex;
            height: 2px;
            width: 0%;
            background-color: var(--color-accent);
            transition: all 250ms ease-in-out;
            left: 50%;
        }
        &:hover{
            color: var(--color-subtext);
    
            &::after{
                left: 0;
                width: 100%;
            }
        }
    }

}

.gpt3__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    .btn__unset{
        background-color: transparent;
    }
    .btn__solid{
        background-color: var(--color-primary);

        &:hover{
            background-color: var(--color-primary);
        }
    }

}

:is(.gpt3__navbar-links_container li,
.gpt3__navbar-sign button,
.gpt3__navbar-menu_container li){
    color: #f1f1f1;
    font-family: var(--font-family);
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}


.gpt3__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.gpt3__navbar-menu svg{
    cursor: pointer;
}

.gpt3__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-blog);
    padding: 2rem 1rem;
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.gpt3__navbar-menu_container-links{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.gpt3__navbar-menu_container-links-sign{
    display: none;
}

@media screen and (max-width: 1080px) {
    .gpt3__navbar-links_container{
        display: none;
    }
    .gpt3__navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .gpt3__navbar{
        padding: 2rem 4rem;
    }    
}

@media screen and (max-width: 600px) {
    .gpt3__navbar{
        padding: 2rem;
    }    
    .gpt3__navbar-sign :is(button){
        display: none;
    }

    .gpt3__navbar-menu_container{
        top: 20px;
    }

    .gpt3__navbar-menu_container-links-sign{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        gap: 1rem;

        button{
            border: 1px solid #f1f1f1 !important;
        }
    }
}